.hero-wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 700px;
    margin-top: -10%;
    background-color: pink;
    background-image: linear-gradient(
        to right,
        rgba(black, 0.6),
        rgba(159, 176, 254, 0.6),
        rgba(black, 0.6)
      ),
      url("../assets/typingtwo.jpg");
    border-radius: 10px;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h1 {
      color: black;
      font-size: 1000%;
      font-family: $dance;
      text-shadow: -0.5px 0 white, 0.5px 0 white, 0.5px 0 white, 0.5px 0 white;
    }

    h2 {
      color: white;
      font-size: 300%;
      font-family: $comf;
    }
  }
}

@media (max-width: 800px) {
  .hero-wrapper {
    .hero {
      flex-direction: column;
      h1 {
        font-size: 550%;
      }
      h2 {
        font-size: 150%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
