//this page styles the navigation for the page
nav {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $comf;

  .logo {
    width: 40%;
    height: 50px;
    //background-color: red;
    font-size: 50px;
    color: white;
    font-family: $dance;
  }

  .link-wrap {
    width: 80%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white;

    .links {
      width: 50%;
      min-height: 50px;
      //background-color: blue;
      padding-left: 250px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 25px;

        &:hover {
          color: $blue;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  nav {
    padding-left: 25px;
    padding-right: 25px;
    .link-wrap {
      width: 100%;
      .links {
        margin-left: 0 auto;
        width: 100%;
        a {
          width: 80%;
          font-size: 125%;
        }
      }
    }
  }
}
