//this page styles the navigation for the page
nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $comf;

  .logo {
    width: 40%;
    height: 50px;
    //background-color: red;
    font-size: 50px;
    color: white;
    font-family: $dance;
  }

  .link-wrap {
    //background-color: orange;
    @include center-content();
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid white;

    .links {
      width: 60%;
      min-height: 50px;
      //background-color: blue;
      padding-left: 250px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 25px;

        &:hover {
          color: $blue;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  nav {
    .link-wrap {
      width: 100%;
      .links {
        margin-left: 0 auto;
        width: 90%;
        a {
          width: 80%;
          font-size: 125%;
        }
      }

      .logo {
        display: none;
      }
    }
  }
}
